* {
    box-sizing: border-box;
    /* direction: rtl; */
}

/* FONTS */

@font-face {
    font-family: Impact;
    src: url(../fonts/impact/impact.ttf);
}

@font-face {
    font-family: 'Arimo';
    src: url(../fonts/Arimo/Arimo.ttf);
}

@font-face {
    font-family: 'Nerko One';
    src: url(../fonts/Nerko_One/NerkoOne-Regular.ttf);
}

@font-face {
    font-family: 'Secular One';
    src: url(../fonts/Secular_One/SecularOne-Regular.ttf);
}

@font-face {
    font-family: 'Suez One';
    src: url(../fonts/Suez_One/SuezOne-Regular.ttf);
}

@font-face {
    font-family: 'Secular One';
    src: url(../fonts/Secular_One/SecularOne-Regular.ttf);
}

@font-face {
    font-family: 'Miriam Libre';
    src: url(../fonts/Miriam_Libre/MiriamLibre-Bold.ttf);
}

/* CANVAS */

canvas {
    display: block;
    margin: 10px 10px;
    border: 1px solid black;
 
    font-family: Impact, 'Suez One', 'Miriam Libre', 'Nerko One', 'Arimo', 'Secular One', sans-serif;
}

.canvas-container {
    background-color: whitesmoke;
    margin: auto;
    border: 1px solid #9e9e9e;
    margin-top: 16px;
    grid-column-start: 2;
    grid-column-end:3;
}

/* BASE */

body {
    margin: 0;
}

.img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: opacity 0.25s ease-in-out;
    cursor: pointer;
}

.img:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(0.95);
    transition: 1s ease;
}

/* container */

.main {
    text-align: center;
    font-family: Impact;
    color: #e91e63;
}

.meme-edit {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    display: none;
    margin-top: 20px;
    gap: 34px;
}

.editor {
    padding-left: 10px;
    background-color: #ffffff;
}
.editor h2 {
    font-family: Miriam Libre;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 10px;
    background-color: rgb(219, 219, 219);
}

.controllers-1 {
    margin-top: 15px;
}

.font-input {
    font-size: 1.5rem;
}
.font-select {
    border-radius: 12px;
    margin: 10px;
    font-size: 1.5rem;
    align-text:
}
select { width: 242px; text-align-last:center; }

.btn:hover {
    background-color: #e91e63;
    color: white;
}

input[type='text'] {
    text-align: right;
}

#colorf {
    visibility: hidden;
    width: 0px;
    padding: 0;
    margin: 0;
}

#colors {
    visibility: hidden;
    width: 0px;
    padding: 0;
    margin: 0;
}

.color-btn {
    width: 25px
}

h1 {
    font-family: cursive;
}

a {
    text-decoration: none;
}

a:hover {
    color: #e91e63;
}

.buttons {
    margin-top: 25px;
}

.inputtext {
    width: 329px;
    height: 39px;
    margin: 5px 0 10px 1px;
    padding: 11px 14px 12px 15px;
    border-radius: 12px;
    background-color: #ffffff;
}

.btn {
    color: white;
    width: 120px;
    height: 40px;
    margin: 14px 50px 0 53px;
    padding: 13px 37px 14px;
    border-radius: 12px;
    background-color: #9e9e9e;
}



.btn-editor {
    width: 50px;
}

/* Header */

.main-header {
    background-color: #e91e63;
    color: #ffffff;
    margin: 0 0;
}

.main-header .main-nav a {
    color: inherit;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    Margin-inline-end: 80px;
    font-family: fantasy;
    letter-spacing: 0.8px;
    font-size: 1.5rem;
}

.gallery-title {
    text-align: center;
    margin-top: 58px;
}

.logo {
    width: 150px;
}

.logo:hover {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
}

.left-header h1 {
    font-size: 2.5rem;
}

/* HELPERS */

/* flex-helpers */

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.flex.align-center {
    align-items: center;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.flex-center {
    justify-content: center;
}

/* list-helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

footer {
    height: 70px;
    background-color: #e91e63;
    color: white;
    font-family: cursive;
    font-size: 1.2rem;
    text-align: center;
    line-height: 50px;
}

@media (max-width: 998px) {
    .meme-edit {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: none;
        align-items: center;
        justify-content: center;
    }

     .canvas-container {
        margin-left: 10px;
        grid-column-start: 1;
        grid-column-end:2;
    }
    .logo {
        width: 80px;
        height: 120px;
    }
}

@media (max-width: 676px) {
   
    .main-header {
        height: 150px;
    }
    .main-header .main-nav a {
        Margin-inline-end: 20px;
    }
 
    .left-header h1 {
        font-size: 1.5rem;
    }
    .logo {
        width: 80px;
        /* height: 120px; */
    }
}

@media (max-width: 305px) {
  
    .main-header .main-nav a {
        Margin-inline-end: 20px;
    }
 }